.products {
    border: 1px solid #333;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 6px;
}

.img-fluid {
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
}